<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.EarlyAlertInfoMapper">

    <!-- 分页获取预警库存设置 -->
    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        eai.id,
        eai.materials_code,
        eai.min_value,
        eai.create_date,
        eai.del_flag,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit
        FROM
        early_alert_info eai
        LEFT JOIN materials_info mi ON (mi.`code` = eai.materials_code)
        WHERE
        1 = 1
        AND eai.del_flag = 0
        <if test="queryForm.materialsName != null and queryForm.materialsName != ''">
            AND mi.NAME like CONCAT("%",#{queryForm.materialsName},"%")
        </if>
        <if test="queryForm.model != null and queryForm.model != ''">
            AND mi.model like CONCAT("%",#{queryForm.model},"%")
        </if>
        <if test="queryForm.materialsCode != null and queryForm.materialsCode != ''">
            AND eai.materials_code like CONCAT("%",#{queryForm.materialsCode},"%")
        </if>
        ORDER BY
        eai.create_date DESC
    </select>
</mapper>
