<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.NotifyInfoMapper">

    <!-- 分页获取消息通知 -->
    <select id="queryPage" resultType="java.util.LinkedHashMap">
        select
            ni.id,
            ni.content,
            ni.status,
            ni.user_id,
            ni.agency_type,
            ni.create_date,
            ni.finish_date,
            ni.del_flag
        from
            notify_info ni
        where
            1 = 1
        order by
            ni.create_date desc
    </select>
</mapper>
