<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.OrderInfoMapper">

    <!-- 分页获取采购订单 -->
    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        oi.id,
        oi.CODE,
        oi.plan_id,
        oi.materials_code,
        oi.total_price,
        oi.purchase_num,
        oi.supplier_id,
        oi.STATUS,
        oi.audit_user,
        oi.pass_rate,
        oi.content,
        oi.images,
        oi.del_flag,
        oi.create_date,

        si.CODE AS supplierCode,
        si.NAME AS supplierName,
        si.charge_person,
        si.phone,
        si.images AS supplierImages,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,

        ppi.purchase_num
        FROM
        order_info oi
        LEFT JOIN supplier_info si ON (si.id = oi.supplier_id)
        LEFT JOIN materials_info mi ON (mi.CODE = oi.materials_code)
        LEFT JOIN purchase_plan_info ppi ON (ppi.id = oi.plan_id)
        WHERE
        1 = 1
        AND oi.del_flag = 0
        <if test="queryForm.supplierName != null and queryForm.supplierName != ''">
            AND si.name like CONCAT("%",#{queryForm.supplierName},"%")
        </if>
        <if test="queryForm.orderCode != null and queryForm.orderCode != ''">
            AND oi.code like CONCAT("%",#{queryForm.orderCode},"%")
        </if>
        <if test="queryForm.status != null and queryForm.status != ''">
            AND oi.STATUS = #{queryForm.status}
        </if>
        <if test="queryForm.materialsName != null and queryForm.materialsName != ''">
            AND mi.NAME like CONCAT("%",#{queryForm.materialsName},"%")
        </if>
        <if test="queryForm.supplierUserId != null and queryForm.supplierUserId != ''">
            AND si.sys_user_id = #{queryForm.supplierUserId}
        </if>
        ORDER BY
        oi.create_date DESC
    </select>

    <!-- 根据供应商ID查询采购订单 -->
    <select id="queryListBySupplier" resultType="java.util.LinkedHashMap">
        SELECT
        oi.id,
        oi.CODE,
        oi.plan_id,
        oi.materials_code,
        oi.total_price,
        oi.purchase_num,
        oi.supplier_id,
        oi.STATUS,
        oi.audit_user,
        oi.pass_rate,
        oi.content,
        oi.images,
        oi.del_flag,
        oi.create_date,

        si.CODE AS supplierCode,
        si.NAME AS supplierName,
        si.charge_person,
        si.phone,
        si.images AS supplierImages,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,

        ppi.purchase_num
        FROM
        order_info oi
        LEFT JOIN supplier_info si ON (si.id = oi.supplier_id)
        LEFT JOIN materials_info mi ON (mi.CODE = oi.materials_code)
        LEFT JOIN purchase_plan_info ppi ON (ppi.id = oi.plan_id)
        WHERE
        1 = 1
        AND oi.del_flag = 0
          AND si.sys_user_id = #{supplierId}
        ORDER BY
        oi.create_date DESC
    </select>

    <!-- 查询总支出 -->
    <select id="selectOrderPrice" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(oi.total_price), 0) FROM order_info oi where 1 = 1 AND oi.del_flag = 0
    </select>

    <!-- 订单类别统计 -->
    <select id="selectOrderType" resultType="java.util.LinkedHashMap">
        SELECT
            mi.type AS typeName,
            SUM(oi.total_price) AS totalPrice,
            SUM(oi.purchase_num) AS totalNum
        FROM
            order_info oi
                LEFT JOIN materials_info mi ON (mi.`code` = oi.materials_code)
        WHERE
            1 = 1
          AND oi.del_flag = 0
        GROUP BY
            mi.type
    </select>

    <!-- 十天内订单数量统计 -->
    <select id="selectOrderNumWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(COUNT(oi.id), 0) AS count
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN order_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        <if test="supplierId != null">
            AND oi.supplier_id = #{supplierId}
        </if>
        AND oi.del_flag = 0
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 十天内订单支出统计 -->
    <select id="selectOrderPriceWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(SUM(oi.total_price), 0) AS price
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN order_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        <if test="supplierId != null">
            AND oi.supplier_id = #{supplierId}
        </if>
        AND oi.del_flag = 0
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 获取本月订单信息 -->
    <select id="selectOrderByMonth" resultType="com.fank.f1k2.business.entity.OrderInfo">
        select oi.id,
               oi.CODE,
               oi.plan_id,
               oi.materials_code,
               oi.total_price,
               oi.purchase_num,
               oi.supplier_id,
               oi.STATUS,
               oi.audit_user,
               oi.pass_rate,
               oi.content,
               oi.images,
               oi.del_flag,
               oi.create_date
        from order_info oi
        where DATE_FORMAT(oi.create_date, '%Y%m') = DATE_FORMAT(
                CURDATE(),
                '%Y%m')
          AND oi.del_flag = 0
    </select>

    <!-- 获取本年订单信息 -->
    <select id="selectOrderByYear" resultType="com.fank.f1k2.business.entity.OrderInfo">
        select oi.id,
               oi.CODE,
               oi.plan_id,
               oi.materials_code,
               oi.total_price,
               oi.purchase_num,
               oi.supplier_id,
               oi.STATUS,
               oi.audit_user,
               oi.pass_rate,
               oi.content,
               oi.images,
               oi.del_flag,
               oi.create_date
        from order_info oi
        where 1 = 1
          AND DATE_FORMAT(oi.create_date, '%Y') = DATE_FORMAT(
                CURDATE(),
                '%Y')
          AND oi.del_flag = 0
    </select>
</mapper>
