<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.PurchaseQuotationInfoMapper">

    <!-- 分页获取采购计划报价管理 -->
    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        pqi.id,
        pqi.plan_id,
        pqi.supplier_id,
        pqi.STATUS,
        pqi.materials_code,
        pqi.total_price,
        pqi.create_date,
        pqi.quotation_date,
        pqi.unit_price,
        pqi.end_date,
        pqi.del_flag,

        si.CODE AS supplierCode,
        si.NAME AS supplierName,
        si.charge_person,
        si.phone,
        si.images AS supplierImages,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,

        ppi.purchase_code,
        ppi.CODE AS planCode,
        ppi.purchase_num
        FROM
        purchase_quotation_info pqi
        LEFT JOIN supplier_info si ON (si.id = pqi.supplier_info)
        LEFT JOIN materials_info mi ON (mi.CODE = pqi.materials_code)
        LEFT JOIN purchase_plan_info ppi ON (ppi.id = pqi.plan_id)
        WHERE
        1 = 1
        AND pqi.del_flag = 0
        <if test="queryForm.planCode != null and queryForm.planCode != ''">
            AND ppi.CODE like CONCAT("%",#{queryForm.planCode},"%")
        </if>
        <if test="queryForm.materialsName != null and queryForm.materialsName != ''">
            AND mi.NAME like CONCAT("%",#{queryForm.materialsName},"%")
        </if>
        <if test="queryForm.supplierName != null and queryForm.supplierName != ''">
            AND si.NAME like CONCAT("%",#{queryForm.supplierName},"%")
        </if>
        <if test="queryForm.status != null and queryForm.status != ''">
            AND pqi.STATUS = #{queryForm.status}
        </if>
        <if test="queryForm.supplierUserId != null and queryForm.supplierUserId != ''">
            AND si.sys_user_id = #{queryForm.supplierUserId}
        </if>
        ORDER BY
        pqi.create_date DESC
    </select>

    <!-- 根据采购计划ID查询采购计划报价 -->
    <select id="queryQuotationByPlanId" resultType="java.util.LinkedHashMap">
        SELECT
        pqi.id,
        pqi.plan_id,
        pqi.supplier_id,
        pqi.STATUS,
        pqi.materials_code,
        pqi.total_price,
        pqi.create_date,
        pqi.quotation_date,
        pqi.unit_price,
        pqi.end_date,
        pqi.del_flag,

        si.CODE AS supplierCode,
        si.NAME AS supplierName,
        si.charge_person,
        si.phone,
        si.images AS supplierImages,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,

        ppi.purchase_code,
        ppi.CODE AS planCode,
        ppi.purchase_num
        FROM
        purchase_quotation_info pqi
        LEFT JOIN supplier_info si ON (si.id = pqi.supplier_info)
        LEFT JOIN materials_info mi ON (mi.CODE = pqi.materials_code)
        LEFT JOIN purchase_plan_info ppi ON (ppi.id = pqi.plan_id)
        WHERE
        1 = 1
        AND pqi.del_flag = 0
        AND pqi.plan_id = #{planId}
        ORDER BY
        pqi.create_date DESC
    </select>
</mapper>
