<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.SupplierMaterialsInfoMapper">

    <!-- 分页获取供应商物料 -->
    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        smi.id,
        smi.CODE,
        smi.batch_record,
        smi.package_set,
        smi.brand,
        smi.del_flag,
        smi.create_date,
        smi.STATUS,
        smi.supplier_id,

        si.CODE AS supplierCode,
        si.NAME AS supplierName,
        si.charge_person,
        si.phone,
        si.images AS supplierImages,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,
        FROM
        supplier_materials_info smi
        LEFT JOIN supplier_info si ON (si.id = smi.supplier_info)
        LEFT JOIN materials_info mi ON (mi.`code` = smi.`code`)
        WHERE
        1 = 1
        <if test="queryForm.materialsName != null and queryForm.materialsName != ''">
            AND mi.NAME like CONCAT("%",#{queryForm.materialsName},"%")
        </if>
        <if test="queryForm.supplierName != null and queryForm.supplierName != ''">
            AND si.NAME like CONCAT("%",#{queryForm.supplierName},"%")
        </if>
        <if test="queryForm.status != null and queryForm.status != ''">
            AND smi.STATUS = #{queryForm.status}
        </if>
        ORDER BY smi.create_date DESC
    </select>

    <!-- 根据供应商ID查询供应商物料 -->
    <select id="queryMaterialsBySupplierId" resultType="java.util.LinkedHashMap">
        SELECT
        smi.id,
        smi.CODE,
        smi.batch_record,
        smi.package_set,
        smi.brand,
        smi.del_flag,
        smi.create_date,
        smi.STATUS,
        smi.supplier_id,

        si.CODE AS supplierCode,
        si.NAME AS supplierName,
        si.charge_person,
        si.phone,
        si.images AS supplierImages,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,
        FROM
        supplier_materials_info smi
        LEFT JOIN supplier_info si ON (si.id = smi.supplier_info)
        LEFT JOIN materials_info mi ON (mi.`code` = smi.`code`)
        WHERE
        1 = 1
        AND smi.supplier_id = #{supplierId}
        ORDER BY smi.create_date DESC
    </select>
</mapper>
