<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.SupplierAuditRecordMapper">

    <!-- 分页获取供应商审核记录 -->
    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        sar.id,
        sar.CODE,
        sar.supplier_id,
        sar.content,
        sar.STATUS,
        sar.create_date,
        sar.audit_date,
        sar.del_flag,

        si.CODE AS supplierCode,
        si.NAME AS supplierName,
        si.charge_person,
        si.phone,
        si.images AS supplierImages,
        FROM
        supplier_audit_record sar
        LEFT JOIN supplier_info si ON (si.id = sar.supplier_id)
        WHERE
        1 = 1
        <if test="queryForm.code != null and queryForm.code != ''">
            AND sar.CODE like CONCAT("%",#{queryForm.code},"%")
        </if>
        <if test="queryForm.status != null and queryForm.status != ''">
            AND sar.STATUS = #{queryForm.status}
        </if>
        <if test="queryForm.supplierName != null and queryForm.supplierName != ''">
            AND si.NAME like CONCAT("%",#{queryForm.supplierName},"%")
        </if>
        ORDER BY
        sar.create_date DESC
    </select>
</mapper>
