<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.WarehouseInfoMapper">

    <!-- 分页获取库房库存 -->
    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        wi.id,
        wi.CODE,
        wi.NAME,
        wi.quantity,
        wi.transaction_type,
        wi.create_date,
        wi.unit_price,
        wi.inbound_order_number,
        wi.delivery_order_number,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,
        FROM
        warehouse_info wi
        LEFT JOIN materials_info mi ON (mi.`code` = wi.`code`)
        WHERE
        1 = 1
        AND wi.transaction_type = 0
        <if test="queryForm.materialsName != null and queryForm.materialsName != ''">
            AND mi.NAME like CONCAT("%",#{queryForm.materialsName},"%")
        </if>
        ORDER BY
        wi.create_date DESC
    </select>

    <!-- 分页获取预警库存 -->
    <select id="queryAlertStockPage" resultType="java.util.LinkedHashMap">
        SELECT
        wi.id,
        wi.CODE,
        wi.NAME,
        wi.quantity,
        wi.transaction_type,
        wi.create_date,
        wi.unit_price,
        wi.inbound_order_number,
        wi.delivery_order_number,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,

        eai.min_value
        FROM
        warehouse_info wi
        LEFT JOIN materials_info mi ON (mi.`code` = wi.`code`)
        LEFT JOIN early_alert_info eai ON (eai.materials_code = wi.`code`)
        WHERE
        1 = 1
        AND wi.transaction_type = 0
        <if test="queryForm.materialsName != null and queryForm.materialsName != ''">
            AND mi.NAME like CONCAT("%",#{queryForm.materialsName},"%")
        </if>
        ORDER BY
        wi.create_date DESC
    </select>

    <!-- 查询入库库存记录 -->
    <select id="queryPutRecordDetail" resultType="java.util.LinkedHashMap">
        SELECT
        wi.id,
        wi.CODE,
        wi.NAME,
        wi.quantity,
        wi.transaction_type,
        wi.create_date,
        wi.unit_price,
        wi.inbound_order_number,
        wi.delivery_order_number,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,
        FROM
        warehouse_info wi
        LEFT JOIN materials_info mi ON (mi.`code` = wi.`code`)
        WHERE
        1 = 1
        AND wi.inbound_order_number = #{code}
        ORDER BY
        wi.create_date DESC
    </select>

    <!-- 查询出库库存记录 -->
    <select id="queryOutRecordDetail" resultType="java.util.LinkedHashMap">
        SELECT
        wi.id,
        wi.CODE,
        wi.NAME,
        wi.quantity,
        wi.transaction_type,
        wi.create_date,
        wi.unit_price,
        wi.inbound_order_number,
        wi.delivery_order_number,

        mi.NAME AS materialsName,
        mi.model,
        mi.images AS materialsImages,
        mi.type,
        mi.measurement_unit,
        FROM
        warehouse_info wi
        LEFT JOIN materials_info mi ON (mi.`code` = wi.`code`)
        WHERE
        1 = 1
        AND wi.delivery_order_number = #{code}
        ORDER BY
        wi.create_date DESC
    </select>
</mapper>
